/*
This is imported into spring-board-element.ts and used to build the template 
for the default board styles.

Based on the Spring '83 spec's default style expectations:
https://github.com/robinsloan/spring-83/blob/main/draft-20220629.md#boards-in-the-client
*/

:host {
	background-color: var(--board-background-color);
	box-sizing: border-box;
	display: block;
	padding: 2rem;
}
time {
	display: none;
}
p,
h1,
h2,
h3,
h4,
h5 {
	margin: 0 0 2rem 0;
}
